.storyViewerList {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.storyViewerList .col {
  width: 40%;
  max-height: 80%;
  background: #fff;
  overflow-y: scroll;
  padding: 1rem;
}

.storyViewerList .col h3 {
  border-bottom: 1px solid #dedede;
}

.storyViewerList .col .item {
  display: flex;
  width: 100%;
  margin: 0.5rem auto;
  align-items: center;
  color: #000;
}
.storyViewerList .col .item .imgWrapper {
  width: 10%;
  height: 10%;
  text-align: center;
  margin: 1rem;
}
.storyViewerList .col .item .imgWrapper img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 50%;
}

.storyViewerList .close {
  position: fixed;
  top: 0;
  right: 0;
  padding: 0.5rem;
  margin: 1rem;
  font-size: 1.5rem;
  background: #fff;
  cursor: pointer;
}
